# Git Control
GIT_URL=...
GIT_BRANCH=main

# Deployment, Domain and Port
LETSENCRYPT_HOST=domain.com
VIRTUAL_HOST=domain.com
VIRTUAL_PORT=3000

# App Analytics
NEXT_PUBLIC_UMAMI_URL=https://analytics.wrytes.io
NEXT_PUBLIC_UMAMI_WEBSITE_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# API Configuration
NEXT_PUBLIC_APP_URL=https://wrytes.io
NEXT_PUBLIC_API_URL=https://api.wrytes.io
NEXT_PUBLIC_INDEXER_URL=https://indexer.wrytes.io
NEXT_PUBLIC_DERIBIT_AGENT_URL=https://deribit-agent.api.wrytes.io

# Web3 Configuration
NEXT_PUBLIC_REOWN_PROJECT_ID=...
NEXT_PUBLIC_RPC_URL=...